@page "/category"
@inject ICategoryRepository _categoryRepository
@inject IJSRuntime _JS


<Pizzaria_Godoy.Components.Shared.BsModal OnModalConfirmation="ConfirmDelete_Click"></Pizzaria_Godoy.Components.Shared.BsModal>

@if (IsProcessing)
{

    <div class="position-absolute w-100 h-100 d-flex flex-column align-items-center bg-white justify-content-center">
      <img src="/images/loading.gif" alt="Logo"/>
    </div>
    
}
else
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Lista de categorias</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class=" row pb-3">
                <div class="col-12 text-end">
                    <a href="category/create" class="btn btn-lg btn-secondary" style="width: 250px;">
                       <i class="bi bi-plus-square"></i> Adicionar categoria</a>
                </div>
            </div>
            @if(Categories.Any())
            {
                <table class="table table-bordered table-striped">

                    <thread>
                        <tr>
                            <th>Nome</th>
                            <th></th>
                        </tr>
                    </thread>
                    <tbody>
                        @foreach (var obj in Categories)
                        {
                            <tr>
                                <td>
                                    @obj.Name
                                </td>
                                <td>
                                    <a href="@($"category/update/{obj.Id}")" class="btn btn-primary">
                                        <i class="bi bi-pencil-square"></i>Editar
                                    </a>
                                   <button class="btn btn-danger" @onclick = "()=>HandleDelete(obj.Id)">
                                        <i class="bi bi-trash"></i> Delete
                                  </button>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}


