<div class="modal fade" id="bsConfirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"> Deseja deletar essa categoria?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" 
                @onclick="() => ConfirmationClicked(false)">Fechar</button>
                
                <button type="button" class="btn btn-danger"  
                @onclick="() => ConfirmationClicked(true)">Confirmar</button>
             
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public EventCallback<bool> OnModalConfirmation { get; set; }

    private async Task ConfirmationClicked(bool value)
    {
        if (value)
        {
            await OnModalConfirmation.InvokeAsync(true);
        }
    }
}